ENVIRONMENT=DEVELOPMENT
DB_DRIVER=
DB_SOURCE=

ACCESS_TOKEN_PRIVATE_KEY=
ACCESS_TOKEN_PUBLIC_KEY=
REFRESH_TOKEN_PRIVATE_KEY=
REFRESH_TOKEN_PUBLIC_KEY=

AMQP_URL=
AMQP_QUEUE=
AMQP_GROUP_QUEUE=
AMQP_EXCHANGE=
AMQP_ROUTING=